@use '../../../../../theme/breakpoints' as breakpoints;

.container {
  display: contents;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
  grid-template-areas:
    'header content'
    'footer content';

  @media #{breakpoints.$breakpoint-lt-md} {
    display: initial;
  }
}

.header {
  grid-area: header;
}

h2 {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ion-accordion-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

ion-accordion .faq-item ion-label {
  font-size: 1.3em;
  font-weight: 400;
}

ion-accordion {
  max-width: 1200px;      // Set a max width for FAQ cards
  width: 100%;  
  border-radius: 18px;
  font-size: 1.4em;
  overflow: hidden;
  margin-bottom: 5px; 
  box-shadow: 0 2px 8px rgba(0,0,0,0.04); 
}

.footer {
  grid-area: footer;
  margin-top: auto;
}
