@use '../../../../../theme/breakpoints' as breakpoints;

:host {
  @media #{breakpoints.$breakpoint-gt-sm} {
    padding: 165px 100px !important;
  }
}

#hero-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 48px; 
  align-items: center;
  margin: auto;
  max-width: 1500px; 
  
  
  @media #{breakpoints.$breakpoint-lt-md} {
    grid-auto-flow: row;
    gap: 32px;
    max-width: 100%;
    min-height: 70vh;
  }
}

h1 {
  font-family: 'Anton';
  font-size: 4em; 
  font-weight: 600;

  @media #{breakpoints.$breakpoint-lt-md} {
    font-size: 3em;
  }

  @media #{breakpoints.$breakpoint-lt-sm} {
    font-size: 2em;
  }

  span {
    color: var(--ion-color-primary-accessible-text);
  }
}

p {
  font-size: 1.5em; // Larger paragraph
  font-weight: 500;
  line-height: 1.6em;
  color: var(--ion-color-dark);
}


img {
  width: 800%; 
  height: auto;
  border-radius: 16px;
  border: 1px solid var(--ion-color-light);

  @media #{breakpoints.$breakpoint-lt-md} {
    width: 100%;
    max-width: 100%;
  }
}

ion-button {
  text-transform: none;
  border-radius: 32px;
  font-size: 1.3em;
  span, .button-native, .button-inner {
    text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.18);
  }
}
